@font-face {
    font-family: 'Aptos';
    src: url('./assets/fonts/aptos.ttf');
}

body {
    font-family: 'Aptos';
}

.toast-message {
    color: black;
    font-family: 'Aptos';
}

.toast-message .Toastify__progress-bar {
    background: black;
}

.toast-message .Toastify__toast-icon svg {
    fill: black;
}

.css-1aquho2-MuiTabs-indicator {
    background: black !important;
}

.MuiTabs-indicator {
    background: black !important;
}

::-webkit-scrollbar {
    background: transparent;
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: black;
    background-clip: content-box;
    border-style: solid;
    border-width: 10px 7px;
    border-color: transparent;
}
